
@{ ViewBag.Title = "Index"; }


<h1>Welcome To Mindteck College</h1>
<hr />  
<head>
    
    
</head>
<body>
   
    <div class="row" style="max-width:500px" align ="center">
          <img src="https://media.glassdoor.com/l/92/8c/30/ed/office-building.jpg" style="width:100%">          
    </div>
    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 3000); // Change image every 3 seconds
        }
    </script>
</body>